.card_buttons{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;

    button {
        border-radius: none;
    }
    
}
  .card-img-top {
    max-width: 70%;
    height: 90%;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 0;
    margin:1rem 3rem;
  }

  .btn-plus {
    border-radius: 0;
    color: black; 
  }
